.recovery{
&__subtitle{
  margin: 30px 0 55px;
}
  &__emailText{
    margin: 30px 0 90px;
  text-align: left;
    font-size: 16px;
    color: #2D2E46;
  }
  &__button{
    max-width: 260px;
    margin: 0 auto;
  }
  &__passwordText{
    margin: 30px 0 10px;
    font-size: 16px;
    color: #2D2E46
  }
  &__loginLink{
    display: block;
    margin-bottom: 30px;
    font-weight: 600;
    color: #21268F;
  }
}