.profilePage {
  padding: 25px 0 70px;
  //height: calc(100vh - 60px);

  &__wrapper {
    display: flex;
    height: 620px;
  }

  &__profile {
    max-width: 240px;
    width: 100%;
    background-color: #ECECF9;
  }

  &__packsList {
    padding: 25px 40px;
    width: 100%;
    filter: drop-shadow(0px 4px 14px rgba(45, 46, 70, 0.15));
  }
  &__pagination{
    padding-top: 30px;
  }
}

.packsList {
  &__title {
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
    color: #2D2E46;
    margin-bottom: 15px;
  }
  &__search{
    background-color: #ECECF9;
    margin-bottom: 25px;
    position: relative;
  }
  &__searchIcon{
    position: absolute;
    width: 12px;
    height: 12px;
    transform: translateY(50%);
    left: 1px;
    background-image: url("./../../issets/images/search_icon.svg");
  }

  &__itemsTitle, .packsList__item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 200px;
    padding: 16px 25px;
    text-align: left;
  }
  &__itemsTitle{
    background-color: #ECECF9;
  }

  &__itemSort{
    display: flex;
  }
  &__itemButtons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
  }
}
.dark{
  background-color: #F8F7FD;
}
