.input {
  width: 100%;
  padding: 0 15px 3px;
  display: block;
  margin: 5px 0 25px;
  color: #2D2E46;
  transition: all .6s;
  border: none;
  border-bottom: 2px solid rgba(36,37,34,.2) ;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  &__label{
    text-align: left;
    color: #24254A;
    font-size: 13px;
  }
}


.textarea{
  display: block;
  width: 100%;
  resize: none;
  min-height: 250px;
  color: #ffffff;
  background-color: #0b0c15;
  transition: all .6s;
  padding: 10px 15px;
  overflow: auto;
  border: 1px solid #252222;
  outline: none;
  margin: 5px 0 25px;
  &:hover{
    opacity: .6;
    background-color: #272833;
  }
  &:focus{
    background-color: #272833;
    color: white;
    opacity: 1;
  }
}

.inner{
  width: 100%;
}