.packs {
  &__title {
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
    color: #2D2E46;
    margin-bottom: 15px;
  }

  &__search {
    background-color: #ECECF9;
    margin-bottom: 25px;
    position: relative;
  }

  &__searchIcon {
    position: absolute;
    width: 12px;
    height: 12px;
    transform: translateY(50%);
    left: 1px;
    background-image: url("../../../../assets/images/search_icon.svg");
  }

  &__itemsTitle {
    display: grid;
    grid-template-columns: 1fr 65px 120px 0.5fr 200px;
    grid-gap: 10px;
    padding: 16px 25px;
    text-align: left;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 65px 120px 0.5fr 200px;
    grid-gap: 10px;
    padding: 16px 25px;
    text-align: left;
    align-items: center;
  }

  &__itemsTitle {
    background-color: #ECECF9;
  }

  &__itemSort {
    display: flex;
  }

  &__itemContent {
    text-overflow:ellipsis;
    overflow:hidden;
    a {
      color: inherit;
    }
  }

  &__itemButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    max-height: 25px;
  }

}

.pack {
  &__itemsTitle {
    grid-template-columns: 1fr 1fr 150px 150px 150px;
  }

  &__item {
    grid-template-columns: 1fr 1fr 150px 150px 150px;
  }

  &__itemButtons {
    grid-template-columns: 1fr 1fr;
  }
}
.packCardsAll {
  &__itemsTitle {
    grid-template-columns: 1fr 1fr 150px 150px;
  }

  &__item {
    grid-template-columns: 1fr 1fr 150px 150px;
  }

}

.dark {
  background-color: #F8F7FD;
}
