.profile {
  background-color: #D9D9F1;
  color: #2D2E46;
  padding: 15px 0 25px;
  text-align: center;

  &__image {
    display: inline-block;
    margin-bottom: 5px;
  }

  &__name {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__job {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__editButton{
    height: 25px;
  }
  &__button {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    color: #21268F;
    padding: 5px 10px;
    border: 1px solid #635D80;
  }
}