.buttonBox {
  padding: 30px 25px;

  &__inner {
    text-align: center;
    :first-child{
      border-radius: 2px 0 0 2px;
    }
    :last-child{
      border-radius: 0 2px 2px 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2D2E46;
    margin-bottom: 20px;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 17px;
    color: #2D2E46;
  }
}
.active{
  background: #9A91C8;
  pointer-events: none;
}